
.vs/azurecosmos/FileContentIndex/41152c8f-954e-49b3-bc1d-6d24aeb53996.vsidx

.vs/azurecosmos/FileContentIndex/2805012d-8383-4b96-934b-2a80452b08d2.vsidx

.vs/azurecosmos/DesignTimeBuild/.dtbcache.v2

*.vsidx

.vs/azurecosmos/v17/

azurecosmos.Core/bin/Debug/net8.0/

azurecosmos.Core/obj/Debug/net8.0/

azurecosmos.Core/obj/

*.dll

*.cache

*.bin

*.csproj

*.pdb

*.exe

*.runtimeconfig.json
*.deps.json
*/obj/
*/v17/
*/bin/Debug
